<h1> Login </h1>

<%= form_tag "/login", method: :post do %>
<div> 
Email: <input type="text" name="input_email">
</div>
<div> 
Password: <input type="password" name="input_password">
<input type="submit" value="Log In">



<% end %> 