// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align: center;
}

.form-group {
	width: 75%;
}

.center {
  top: 0;
  bottom: 0; 
  left: 0;
  right: 0;
  margin: auto;  
}


body {
	font-family: 'Raleway', sans-serif;
	background-image: url('cork-wallet.png');
}

.index_product_image {
  width: 120px;
}

.my-form-button {
  padding-top: 10px;
}

.btn-dropdown {
  padding-bottom: 20px;
}

.index-product{
  top: 0;
  bottom: 0; 
  left: 0;
  right: 0;
  margin: auto;  
}