<h1> Enter product </h1>

<%= form_tag "/products", method: :post do %>
	<div class="form-group center">
		<label for="InputName">Enter Name</label>
		<input type="text" class="form-control" name = "name" id="InputName" placeholder="Name">
	</div>
	<div class="form-group center">
		<label for="InputPrice">Enter Price</label>
		<input type="text" class="form-control" name = "price" id="InputPrice" placeholder="Price">
	</div>
	<div class="form-group center">
		<label for="InputPicture">Insert Image</label>
		<input type="text" class="form-control" name = "image" id="InputPicture" placeholder="Insert Image">
	</div>
	<div class="form-group center">
		<label for="InputDescription">Enter Description</label>
		<textarea type="text" class="form-control" name= "description" rows="3" id="InputDescription" placeholder="Description"></textarea>
	</div>
		<input class="btn btn-default center" type="submit" value="Submit Product">

<% end %> 