<h1> Enter Supplier </h1>

<%= form_tag "/suppliers", method: :post do %>
	<div class="form-group center">
		<label for="InputName">Enter Name</label>
		<input type="text" class="form-control" name = "name" id="InputName" placeholder="Name">
	</div>
	<div class="form-group center">
		<label for="InputEmail">Enter Email</label>
		<input type="text" class="form-control" name = "email" id="InputEmail" placeholder="Email">
	</div>
	<div class="form-group center">
		<label for="InputPhone">Enter Phone Number</label>
		<input type="text" class="form-control" name = "phone_number" id="InputPhone" placeholder="Phone Number">
	</div>
		<input class="btn btn-default btn-center" type="submit" value="Submit Supplier">

<% end %> 