<h1> Add an Image </h1>

<%= @product.name %>

<div class="form-group">
	<label for="InputName">Enter Image</label>
	<input type="text" class="form-control" name = "name" id="InputName" placeholder="Name">
</div>
<input class="btn btn-default" type="submit" value="Submit Product">